.advantages {
    // min-height: 473px;
    padding: 70px 0 64px 0;
    background-color: #F6F6F6;
    text-align: center;
    &__items {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    &__item {
        width: 277px;
        img {
            width: 70px;
            height: 70px;
            margin-bottom: 35px;
        }
    }
    &__subheader {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        color: #0D0D0D;
    }
    &__descr {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #0D0D0D;
        a {
            font-family: 'Museo Moderno', sans-serif;
            color: $main-color;
        }
    }
}