@media (max-width: 1024px) {
    .header, .promo__wrapper {
        margin-left: 30px;
        margin-right: 30px;
    }
    .consultation {
        padding-left: 30px;
        padding-right: 30px;
    }
    .title {
        font-size: 28px;
    }
    .reviews__items {
        margin-left: 30px;
    }
}
@media (max-width: 768px) {
    .promo__wrapper {
        align-items: center;
    }
    .advantages {
        &__items {
            flex-direction: column;
            align-items: center;
            margin-top: 0;
        }
        &__item {
            margin-top: 20px;
        }
    }
    .title {
        font-size: 26px;
    }
    .carousel__inner {
        width: 550px;
    }
    .reviews__item {
        flex-direction: column;
        align-items: center;
    }
    .reviews__text {
        margin-top: 30px;
    }
}
@media (max-width: 670px) {
    .header {
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
        &__logo, &__official {
            margin-bottom: 20px;
        }
    }
    .promo {
        &__header {
            font-size: 26px;
        }
        &__subheader {
            font-size: 15px;
        }
        &__icons {
            margin-top: 25px;
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            margin-bottom: 10px;
        }
        &__wrapper {
            margin: 0;
            text-align: center;
        }
    }
    .advantages__header {
        font-size: 26px;
    }
    .title {
        font-size: 22px;
    }
    .consultation__descr {
        font-size: 18px;
    }
    .button_main {
        width: 250px;
    }
    .carousel__inner {
        width: 300px;
    }
    .footer {
        max-width: 630px;
        &__info {
            width: 100%;
        }
    }
    .modal {
        width: 300px;
        padding: 20px 10px auto 10px;
        &__close {
            top: 10px;
            right: 10px;
        }
    }
    .feed-form {
        align-items: center;
        width: 100%;
        input {
            width: 270px;
        }
    }
    .button_submit {
        width: 270px;
        height: 50px;
        font-size: 16px;
    }
}